.item {
  width: 50px;
  border: 1px solid beige;
  float: left;
  position: relative;
}
.count {
  color: beige;
  position: absolute;
  top: 1px;
  right: 1px;
  text-shadow: rgb(0, 0, 0) 0 0 5px;
}
