<header>
    <div class="row">
      <div class="columns">
        <div class="title">{{title}}</div>
      </div>
      <div class="columns shrink">
        <div class="name">{{ (gw2State$ | async)?.account.data.name }}</div>
      </div>
    </div>
</header>
<main>
  <aside></aside>
  <article>
    <h1>
      {{ (gw2State$ | async)?.account.data.age | mySecondsToTime }} hours
    </h1>
    <bank [bankSlots]="(gw2State$ | async).bank" [items]="(gw2State$ | async).items.data"></bank>
  </article>
</main>
